:root {
  --cor-p1: #cb3f05;
  --cor-p2: #0c0e0b;
  --cor-p3: #fafafa;
  --cor-s1: #f6f6f6;
  --cor-s2: #f26c06;
}

.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-s1 {
  color: var(--cor-s1);
}
.cor-s2 {
  color: var(--cor-s2);
}
