body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a, ul, li, p, h1, h2 {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}