.menus a {
  padding-bottom: 2px;
  display: inline-block;
  position: relative;
}

.menus a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 2px;
  background: var(--cor-p1);

  transform: scaleX(0);
  transform-origin: left;

  transition: transform 0.3s ease;
}

.menus a:hover::after {
  transform: scaleX(1);
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--cor-p2);
  border-radius: 8px;
  color: var(--cor-p3);
  margin: 20px 20px 80px;
  position: sticky;
  top: 20px;
  z-index: 1000;
}
.detalhe {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 40px;
}

#menu-check {
  display: none;
}

.menu-botao {
  display: none;
  cursor: pointer;
  z-index: 1002;
  width: 30px;
  height: 20px;
  position: relative;
  margin-left: auto;
}

.menu-botao::before {
  top: 0;
}

.menu-botao span {
  top: 9px;
}

.menu-botao::after {
  bottom: 0;
}

.menu-botao span,
.menu-botao::before,
.menu-botao::after {
  content: "";
  display: block;
  background: var(--cor-p1);
  height: 2px;
  width: 100%;
  position: absolute;
  transition: 0.5s ease;
}

@media (max-width: 900px) {
  header {
    margin: 40px 16px 40px;
  }
}

.menus {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: 480px) {
  .menu-botao {
    display: block;
  }

  nav {
    display: contents;
    width: 0;
    height: 0;
  }

  .menus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--cor-p2);
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    box-sizing: border-box;

    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: all 0.3s ease;
    z-index: 1001;
  }
}
#menu-check:checked ~ nav .menus {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#menu-check:checked ~ .menu-botao span {
  opacity: 0;
}
#menu-check:checked ~ .menu-botao::before {
  transform: rotate(45deg);
  top: 9px;
}
#menu-check:checked ~ .menu-botao::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
